.goodsl{
	overflow: hidden;
	background-color: #eaeaea;
	margin-bottom: 49px;
	position: relative;
}
.goodsnav{
	position: fixed;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #4d4d4d;
	color: #fff;
	line-height: 50px;
	text-align: center;
	bottom: 58px;
	right: 10px;
	z-index: 999;
}

.maxtop{
	position: fixed;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #4d4d4d;
	color: #fff;
	line-height: 50px;
	text-align: center;
	bottom: 58px;
	display: none;
	right: 10px;
	z-index: 999;
}

.goodslhead{
	width: 100%;
	background-color: #fff;
	padding: 0 10px;
	padding-top: 10px;
	position: relative;
}
.goodslhead>a{
	position: absolute;
}
.goodslhead>a>span{
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	opacity: 0.7;
	background-color: #7a705f;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.goodslhead>a:nth-child(1){
	left: 10px;
}
.goodslhead>a:nth-child(2){
	right: 10px;
}
.goodslhead>ul{
	white-space: nowrap;
	height: 400px;
	width: 100%;
	overflow-x: scroll;
}
.goodslhead>ul>li:first-child{
	margin-left: 0px;
}
.goodslhead>ul>li{
	display: inline-block;
	height: 390px;
	width: 250px;
	margin-left: 10px;
}
.goodslhead>ul>li>img{
	width: 100%;
	height: 100%;
}
.goodslhead>h1{
	height: 50px;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.goodslhead>h1>span:nth-of-type(1){
	position: absolute;
	font-size: 9px;
	left: 6px;
	top:10px
}
.goodslhead>h1>span:nth-of-type(2){
	position: absolute;
	line-height: 20px;
	left: 16px;
	top:10px;
	font-weight: bold;
	font-size:30px;
}
.goodslhead>h1>span:nth-of-type(3){
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 10px;
	left: 126px;
}
.goodslhead>h1>span:nth-of-type(3)>del{
	color: #bcbcbc;
	font-size: 14px;
}
.goodslhead>h1>span:nth-of-type(3)>strong{
	width: 27px;
	height: 16px;
	background-color: #ffe8ee;
	text-align: center;
	line-height: 16px;
	color: #ff2255;
}
.goodslhead>p:nth-of-type(1){
	line-height: 20px;
	font-size: 16px;
	color: #424242;
}
.goodslhead>p:nth-of-type(2){
	line-height: 36px;
	color: #999999;
}
.goodsinfor{
	height: 37px;
	width:100%;
	margin-top: 10px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	line-height: 37px;
	color: #666666;
	background-color: #fff;
	color: #ff557a;
	font-size: 15px;
}
.goodsinfor>li>span{
	color: #666666;
	margin-left: 5px;
}
.goodsinforshow{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	display: none;
	z-index: 2000;
	bottom: 50px;
	background: rgba(153,153,153,0.8);
}
.goodsinforshow_con{
	position: fixed;
	opacity: 1;
	bottom: 0px;
	width: 100%;
	bottom: 0px;
	z-index: 1099;
	padding: 0 15px;
	background-color: #fff;
}
.goodsinforshow_con>p{
	text-align: center;
}
.goodsinforshow_con>p:nth-of-type(1){
	height: 30px;
	line-height: 30px;
	text-align: right;
}
.goodsinforshow_con>p:nth-of-type(2){
	font-size: 15px;
	height: 30px;
	color: #999999;
}
.goodsinforshow_con li{
	border-bottom: 1px solid #e2e2e2;
	padding: 15px 0;
}
.goodsinforshow_con li>p:nth-child(2){
	color: #999999;
}

.goodscolor{
	margin-top: 10px;
	height: 45px;
	width: 100%;
	padding: 0 15px;
	display: flex;
	background-color: #fff;
	line-height: 45px;
	justify-content: space-between;
}
.goodcolor_head{
	height: 84px;
	padding-left: 15px;
	border-top: 1px solid #dadada;
}
.goodcolor_head>img{
	height: 150px;
	width: 100px;
	float: left;
	margin-top: -65px;
}
.goodcolor_head>p{
	float: left;
	display: flex;
	flex-direction: column;

	justify-content: space-around;
	margin-left: 15px;
}
.goodcolor_head>span{
	float: right;
	margin-top: 10px;
	font-size: 20px;
}
.goodcolor_head>p>span{
	color: #333333;
}
.goodcolor_head>p>span:nth-of-type(1){
	font-size: 25px;
	margin-top: 8px;
}
.goodcolor_cho{
	margin-top: 15px;
}
.goodcolor_cho>h3{
	line-height: 23px;
	height: 23px;
	font-size: 14px;
}
.goodcolor_cho>span{
	padding: 7px 14px;
	margin-left: 10px;
	display: inline-block;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}
.goodcolor_cho:nth-of-type(3)>span{
	border: 1px solid #f06782;
	color: #f06782;
}
.colorgou{
	display: flex;
	margin-top: 15px;
	flex-direction: column;
}
.colorgou>h3{
	font-size: 14px;
	margin-bottom: 5px;
}
.colorgou>p>span{
	height: 22px;
	width: 28px;
	float: left;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	text-align: center;
}
.colorgou>p>button{
	height: 22px;
	width: 27px;
	float: left;
	background-color: #fff;
	line-height: 22px;
	border: 1px solid #bebebe;
}
.colorche{
	margin-top: 15px;
	display: flex;
}
#goodscolor{
	z-index: 1000;
}
.colorche>span{
	flex: 1;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.colorche>span:nth-child(1){
	background-color: #ffe6e8;
	color: #ff5777;
}
.colorche>span:nth-child(2){
	background-color: #ff547b;
	color: #fff;
}


.goodsok>ul{
	overflow: hidden;
	padding: 0 15px;
	background-color: #fff;
}
.goodsok>ul>li{
	padding: 6px;
	background-color: #ffe8ee;
	color: #ff2255;
	margin-right: 5px;
	float: left;
	border-radius: 5px;
	margin-bottom: 5px;
}


.goodsfoot{
	position: fixed;
	height: 49px;
	width: 100%;
	bottom: 0px;
	z-index: 999;
	background-color: #fff;
	left: 0px;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #f3f3f3;
}
.goodsfoot>li{
	height: 48px;
	width: 56px;
	padding-top: 5px;
	line-height: 48px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-right: 1px solid #f6f6f6;
}
.goodsfoot>li>i{
	font-size: 15px;
}
.goodsfoot>li>span{
	height: 20px;
	line-height: 20px;
}
.goodsfoot>li:nth-child(4){
	width: 100px;
	background-color: #ffe6e8;
	color: #ff7791;
}
.goodsfoot>li:nth-child(5){
	width: 100px;
	background-color: #ff537c;
	color: #ffe5ec;
}

.good-enter, .good-appear{
    /*入场动画执行的第一个时刻*/
	height: 0;
}
 
.good-enter-active, .good-appear-active{
    /*入场动画执行的第二个瞬间一直到执行完成的时刻*/
    height: 500px;
    transition: all 300ms ease-in;
}
 
.good-enter-done{
    /*入场动画执行完成之后*/
    height: 500px;
}
 
 
/*出场动画*/
.good-exit{
    height: 500px;
}
 
.good-exit-active{
    height: 0;
    transition: all 300ms ease-in;
}
 
.good-exit-done{
    height: 0;
}

.pingjia{
	padding: 0 15px;
	background-color: #fff;
}
.pingjia>li{
	padding-top: 15px;
	padding-bottom: 28px;
	border-bottom: 1px solid #f0f0f0;
}
.pingjia img{
	height: 30px;
	width: 30px;
	border: 1px solid #f5f5f5;
	border-radius: 50%;
	margin-right: 10px;
}
.pingjia>li>p{
	margin-top: 10px;
	color: #727272;
	font-size: 13px;
}

.maxtoph-enter, .maxtoph-appear{
    /*入场动画执行的第一个时刻*/
	bottom: 58px;
}
 
.maxtoph-enter-active, .maxtoph-appear-active{
    /*入场动画执行的第二个瞬间一直到执行完成的时刻*/
    bottom: 123px;
    transition: all 300ms ease-in;
}
 
.maxtoph-enter-done{
    /*入场动画执行完成之后*/
    bottom: 123px;
}
 
 
/*出场动画*/
.maxtoph-exit{
    bottom: 123px;
}
 
.maxtoph-exit-active{
    bottom: 58px;
    transition: all 300ms ease-in;
}
 
.maxtoph-exit-done{
    bottom: 58px;
}