.home{
	background-color: #f6f6f6;
	margin-bottom: 50px;
}
.header{
	height: 60px;
	width: 100%;
	background-color: #333333;
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	padding: 0 8px;
	align-items: center;
}
.header>span{
	font-size: 14px;
	color: #949494;
}
.header>div>span{
	font-size: 14px;
	margin-left: 6px;
}
.header>strong{
	height: 25px;
	width: 60px;
	background-color: #ff488b;
	color: #fff;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
}
