.mine{
	background-color: #f6f6f6;
	margin-bottom: 50px;
	padding-bottom: 15px;
}
.minehead{
	height: 194px;
	width: 100%;
	background: url(../img/login.jpg) no-repeat;
	background-size: 100% 120px;
	overflow: hidden;
	background-color: #fff;
}
.minetop{
	height: 110px;
	width: 330px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 67px;
	position: relative;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 1px #f0f0f0;
}
.minetop>img{
	position: absolute;
	top: -30px;
	border-radius: 50%;
	border: 1px solid #fff;
	left: 135px;
}
.minetop>p:nth-of-type(1){
	position: absolute;
	top: 44px;
	font-size: 14px;
	left: 135px;
}
.minetop>span{
	position: absolute;
	top: 70px;
	left: 125px;
	border: 1px solid #dcdcdc;
	border-radius: 12px;
	padding: 5px 12px;
}
.mine>div:nth-of-type(1)~div p{
	height: 53px;
	line-height: 53px;
	display: flex;
	padding:0 18px;
	background-color: #fff;
	justify-content: space-between;
	border-bottom: 1px solid #efefef;
}
.mine>div:nth-of-type(1)~div p>span>i{
	margin-right: 10px;
	font-size: 15px;
}
.mine p>i{
	line-height: 53px;
}
.mine>div:nth-of-type(1)~div{
	margin-bottom: 10px;
}
#td{
	height: 40px;
	width: 325px;
	background-color: #ff5777;
	margin: 0 auto;
	margin-top: 25px;
	line-height: 40px;
	text-align: center;
	font-size: 13px;
	color: #fff;
}
