.nav{
	height: 170px;
	background-color: #fff;
}
.nav>ul{
	overflow: hidden;
}
.nav>ul>li{
	display: flex;
	height: 76px;
	width: 73px;
	text-align: center;
	flex-direction: column;
	float: left;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 9px;
	padding-top: 10px;
}
.nav>ul>li>img{
	height: 49px;
	width: 49px;
	border-radius: 50%;
}