.searchnew{
	overflow: hidden;
	padding: 10px 0;
}
.searchnew>li{
	height: 228px;
	width: 130px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}
.searchnew>li>img{
	width: 130px;
	height: 174px;
}
.searchnew>li>p{
	padding: 0 10px;
}
.searchnew>li>p:nth-of-type(1){
	line-height: 27px;
	font-size: 14px;
}
.searchnew>li>p:last-child{
	display: flex;
	justify-content: space-between;
}
.searchnew>li>p:last-child>span:first-child{
	font-weight: bold;
	font-size: 14px;
	color: #ff5777;
}
.searchnew>li>p:last-child>span:last-child{
	color: #9d9d9d;
	font-size: 13px;
}